.content{
    background-image: url("../images/PurpleBG5.png");
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
}

.skillsTitle h2{
    text-align: center;
    margin-top: 0px;
    color: white;
    font-size: 5vw;
    padding: 3vw 0 1vw 0;
    margin-bottom: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skillsTitle p{
    text-align: center;
    color: black;
    font-size: 2vw;
    padding-left: 0vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width:900px){
    .skillsTitle h2{
        margin-top: 0px;
        color: white;
        font-size: 8vw;
        padding: 3vw 0 1vw 0vw;
        margin-bottom: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .skillsTitle p{
        color: black;
        font-size: 3vw;
        padding-left: 0vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@media screen and (max-width:900px){
    .skillsTitle h2{
        margin-top: 0px;
        color: white;
        font-size: 8vw;
        padding: 3vw 0 1vw 5vw;
        margin-bottom: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .skillsTitle p{
        color: black;
        font-size: 3vw;
        padding-left: 5vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@media screen and (max-width:570px){
    .skillsTitle h2{
        text-align: center;
        margin-top: 0px;
        color: white;
        font-size: 12vw;
        padding: 3vw 0 1vw 5vw;
        margin-bottom: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .skillsTitle p{
        text-align: center;
        color: black;
        font-size: 4.5vw;
        padding-left: 5vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
